body{
  margin: 5% auto !important;
  background: #000a2f url(../images/space02.png) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.container{
    max-width: 80%;
    width: 80%
    height: 85vh;
    text-align: center;
    box-sizing: border-box;
}

#bannerTitle{
  text-align: center;
}

#bannerTitle > img{
  width: 33%;
}

.btn.btn-info{
color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    position: absolute;
    top: 1%;
    width: 50px;
    left: 1%;
    height: 50px;
}

#info{
  background: transparent url('../images/instrucciones.png') no-repeat top center !important;
  background-size: 100% 100%;
}

#overallCon {
  width: 100%;
  margin: 0 auto;
}
#headCon {
    /* display: block; */
    /* width: 100%; */
    /* min-height: 280px; */
    /* float: left; */
    text-align: center;
    /* border: 1px solid purple; */
}
#scoreCon {
    position: relative;
    top: 10rem;
    background: transparent url(../images/frame.png) no-repeat center center;
    background-size: 100% 100%;
    margin: 0 auto;
    height: 210px !important;
}
#tatCon {
  display: flex;
  margin: 20px 0 0 0;
  width: 100%;
  min-height: 250px;
  z-index: 100;
}
.headcircle {
  width: 70px;
  cursor: pointer;
  float: left;
  font: 14px Arial;
  margin: 0px 20px;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  color: #666;
}

.headcircle-img:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  /*animation: shake 0.5s; */

  /* When the animation is finished, start again */
  /*animation-iteration-count: infinite; */
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.headcircle img {
  margin-bottom: -4px;
  max-width: 70px;
}

.headcircle span {
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

.headcircleinside {
width: 60px;
    font: 11px Arial;
    text-align: center;
    color: #FFF;
    /* float: left; */
    /* margin: -70px 0 0 -5px; */
     position: absolute; 
    display: none;
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
    cursor: pointer;
}
.headcircleinside img {
  margin-bottom: -4px;
  width: 70px;
}

.atattoo {
    display: inline-block;
    margin-right: 3px;
    /* background: rgba(255, 255, 255, 0.4); */
    width: inherit;
    /* min-height: 310px; */
    position: relative;
    /* top: -10px; */
}
.messagewrong {
  position: absolute;
  margin: 5px;
  font: bold 16px Arial;
  color: #CC0000;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF;
  display: none;
  background: transparent url('../images/messagewrong.png');
}
.messageright {
  position: absolute;
  margin: 5px;
  font: bold 16px Arial;
  color: #339933;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF;
  display: none;
}
.instruct {
  font: 14px Arial;
  color: #666;
  margin-bottom: 20px;
}
.score {
    font: bold 25px sans-serif;
    display: inline;
    /* margin-left: 220px; */
    /* margin-top: 40px; */
    /* padding-top: 0px; */
    position: absolute;
    top: 120px;
    color: #008080;
    /* left: 20px; */
    text-transform: uppercase;
}


div#attemptOk{
  left: 28%;
}

div#attemptWrong{
  right: 38%;
}

.numDisp {
  font: 18px Arial;
  color: #333;
}

.boxHover {
  opacity: .66;
}

#detail {
    /*height: 450px;*/
    width: 100%;
    background-color: transparent;
    /*position: absolute;*/
    /*top: 0;*/
    display: none;
    text-align: center;
    z-index: 100;
    /*opacity: 0;*/
}

#detail #detailCon {
    /* height: 350px; */
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 1.5rem;
    -moz-box-shadow: 0 0 15px #999;
    -webkit-box-shadow: 0 0 15px #5d5d5d;
    box-shadow: 0 0 15px #5d5d5d;
    /* position: relative; */
    /* top: 100px; */
    /* left: 450px; */
    display: inline-block;
    /*padding: 2.5rem;*/
    width: 100%;
}

#photoCon {
  width: 250px;
  height: 350px;
  background-color: #000;
  /*float: left;*/
  margin-right: 20px;
}

#detail #closebtn {
  font: bold 12px Arial, Sans Serif;
  /*float: right;*/
  color: #999;
  border: 1px solid #CCC;
  padding: 0 2px 0 2px;
  cursor: pointer;
}

#desc {
  font: 14px Arial;
  margin-top: 25px;
  color: #666;
  padding-right: 20px;
}

.credits-con {
  font: italic 11px Arial;
  color: #999;
  clear: both;
  padding-top: 10px;
}

#shareCon {

    position: absolute;
    top: 10%;
    left: 30%;
    background-color: #010b34ab;
    border-radius: 1.5rem;
    color: #ffffff;
    font: 24px Arial;
    text-align: center;
    padding: 4%;
    z-index: 110;
    width: 40%;
}

.congrats {
  font: bold 18px Arial;
  margin-bottom: 0px
}

.planet01, .planet02, .planet03, .planet04 {
  position: absolute;
  z-index: -10;
}

.planet01{
width: 300px;
    top: 0px;
    left: 0px;
}

.planet02{
    width: 370px;
    top: 0px;
    left: -40px;
}

.planet03{
  width: 320px;
  top: 0px;
  left: 0px;
}

.planet04{
  width: 320px;
  top: 0px;
  left: 0px;
}

#imagemagnifier{
    position: fixed;
    /*display: none;*/
    z-index: 2;
    top: 35%;
    right: 30%;
    width: 500px;
    height: 440px;
    background-position: top left !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: all 0.2s ease-in-out;
}

.ui-draggable .ui-dialog-titlebar {
    display: none !important;
}

#tany1,#tany2,#tany3,#tany4,{
  position: relative;top:0;
}

#popResp{
display: none; 
background: transparent url('../images/frame.png') no-repeat top center; 
background-size: cover;

 text-align: center;
    font-size: 0;
    padding: 20px;
}

